<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form th:method="POST" th:action="@{/cars/search}">
<label for="query"> Introduceti datele pentru cautare: </label>
    <input type = "text" id="query" name="query"/>
    <br/>
    <input type="submit" value = "Cautati"/>
</form>
<div th:if="${cars}">
    <div th:if="${cars.isEmpty()}">
        <span>Automobile nu au fost gasite</span>
    </div>
    <div th:each="car : ${cars}">
        <p th:text="${car.getCarBrand() + ', '+car.getCarProperty() + ', ' +car.getYear()}">car</p>

        <div th:if="${car.getOwner() != null}">
            <span>Automobilul acum se afla la:</span> <span th:text="${car.getOwner().getFullName()}">Person Name</span>
        </div>

        <div th:if="${car.getOwner() == null}">
            <span>Automobilul e liber</span>
        </div>
        <hr/>

        <br/>
        <br/>
        <a href="/cars">Accesati pagina cu automobile</a>
    </div>
</div>
</body>
</html>