<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">

    <label for="fullName">Introduceti numele: </label>
    <input type="text" th:field="*{fullName}"  id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"> Name error</div>
    <br/>
    <label for="yearOfBirth">Introduceti anul nasterii: </label>
    <input type="text" th:field="*{yearOfBirth}"  id="yearOfBirth"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}"> Age error</div>
    <br/>
    <label for="email">Introduceti adresa electronica: </label>
    <input type="text" th:field="*{email}"  id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Email error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<br/>
<br/>
<a href="/cars">Accesati pagina cu persoane</a>
</body>
</html>